// Bootstrap breakpoints
$xs-min: 480px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;
$xl-min: 1600px;
$xxl-min: 1900px;

// Height breakpoints
$height-xs-min: 500px;
$height-sm-min: 640px;
$height-md-min: 750px;
$height-lg-min: 900px;
