body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "FuturaM";
  src: local("FuturaM"), url(./fonts/FuturaMedium.otf);
}

@font-face {
  font-family: "FuturaB";
  src: local("FuturaB"), url(./fonts/FuturaBook.otf);
}

@font-face {
  font-family: "DINNextLTPro-Medium";
  src: local("DINNextLTPro-Medium"), url(./fonts/DINNextLTPro-Medium.otf);
}
